@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
.content-body{
    width: calc(100% - 60px);
    left: 60px;
    position: relative;
}
section{
    min-height: 100vh;
    background: linear-gradient(45deg, #f18d9e, #f18dc9);
    font-size: 2rem;
    border-style: dotted;
    border-width: 5px;
    border-color: black;
}
.section .hero{
    display: flex;
    align-items: center;
}

.introduction{
    position: relative;
    display: flex;
    height: 80vh;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: brown; */
}
.introduction .internal-box{
    position:relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
}
.introduction .internal-box .img-box {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    box-shadow: 2px 6px 1px #f6f6d5;
    align-items: center;
    background-color: #F18D9E;
    transition: 1.5s ease-in-out;
}
.introduction .internal-box:hover .img-box {
    transform: translateY(-100%)
}
.introduction .internal-box .text{
   text-align: center;
}
.title{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    text-shadow: 3px 3px 1px #e7cfcf;
    
}


/* .title h1 {
    color:#E6D72A;
    
} */
.box-projects{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.project{
    height: 150px;
    width: 90%;
    margin-bottom: 10px;
    box-shadow: 2px 2px 1px #6d6d66;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    background-color: #F18D9E;
}
.info-project{
    height: 150px;
    width: 50%;
}
.title-project{
    height: 150px;
    width: 20%;
}
.img-project{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.title2{
    font-size: 20pt;
}
.subtitle{
    font-size: 16pt;
}
.subtitle2{
    font-size: 12pt;
}
.name{
    display: flex;
    justify-content: center;
    text-shadow: 3px 3px 2px #40b396;
    align-items: center;
    color: white;
    font-size: 48pt;
}
.info-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

}
.my-img{
    margin-top: 50px;
    /* border: #6d6d66; */
    display: flex;
    box-shadow: 6px 6px 0px #dcd14c, -6px -6px 0px #5bc8ac;
    width: 30%;
}
.info-about{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.objectives-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.hobbies-title{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}
.hobbies{
    margin-top: 50px;
}


.menu{
    display: flex;
    position: fixed;
    height: 100%;
    width: 60px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #5BC8AC;
}
